﻿@model GWD.Gui.Models.Stations.Furnaces.FurnaceViewModel

<div>Current Temp : <span id="CurrentTep_@Model.StationSummaryModel.StationId">Unknown</span></div>
<h3>Set Point</h3>
@*Probably not worth doing strongly typed models for these simple tests, perhaps later*@
<div>
    @using (Html.BeginForm("SetSetpoint", "Furnace"))
    {
        @Html.HiddenFor(m => m.StationSummaryModel.StationId)
        <div>
            @Html.TextBoxFor(m => m.SetPoint)
        </div>
        <div>
            <input type="submit" value="Set Setpoint" />
        </div>

    }

    <div>
        <a href="@Url.Action("ReadSetpoint", "Furnace", new { sid = Model.StationSummaryModel.StationId })">Read Setpoint</a>
    </div>

    @using (Html.BeginForm("SetRampRate", "Furnace"))
    {
        @Html.HiddenFor(m => m.StationSummaryModel.StationId)
        <div>
            @Html.TextBoxFor(m => m.RampRate)
        </div>
        <div>
            <input type="submit" value="Set Ramp Rate (C/min)" />
        </div>

    }

    <div>
        <a href="@Url.Action("ReadRampRate", "Furnace", new { sid = Model.StationSummaryModel.StationId })">Read Ramp rate</a>
    </div>

    <div>
        <a href="@Url.Action("ReadCurrentTemp", "Furnace", new { sid = Model.StationSummaryModel.StationId })">Read current temperature</a>
    </div>

    @using (Html.BeginForm("RunTest", "Furnace"))
    {
        @Html.HiddenFor(m => m.StationSummaryModel.StationId)
        <div>
            @Html.TextBoxFor(m => m.SetPoint)
        </div>
        <div>
            <input type="submit" value="Run test using setpoint" />
        </div>

    }
</div>

