﻿@model GWD.Models.Lab.LabOverviewModel

@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4 title">Gearu Workflow Dashboard</h1>
    <div class="row">

        @if (Model != null && Model.Stations != null && Model.Stations.Any())
        {
            <div class="col-lg-4">
                <div class="card border-secondary mb-3">
                    <div class="card-header">
                        <i class="material-icons gwd">
                            science
                        </i>
          <h4>Stations</h4>
                    </div>
                    <div class="card-body">
                        @foreach (var station in Model.Stations)

                        {
                            if (!station.LastStatusIsAlive)
                            {
                                <div class="stations">
                                    <div class="lights">
                                        <span class="material-icons not-alive md-48">
                                            error_outline
                                        </span>
                                    </div>
                                    <div class="station-name">
                                        <a href="#" data-toggle="modal" data-target="#modal-GWD" style="text-decoration: underline;">@station.StationName</a>
                                        <span class="status"> - No Heartbeat</span>
                                    </div>
                                </div>
                            }
                            else if (station.LastStatusTs < DateTime.Now.AddMinutes(-5))
                            {
                                <div class="stations">
                                    <div class="lights">
                                        <span class="material-icons stale md-48">
                                            warning_amber
                                        </span>
                                    </div>
                                    <div class="station-name">
                                        <a href="#" data-toggle="modal" data-target="#modal-GWD" style="text-decoration: underline;">@station.StationName</a>
                                        <span class="status"> - Stale Heartbeat</span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="stations">
                                <div class="lights">
                                    <span class="material-icons alive md-48">
                                        check_circle
                                    </span>
                                </div>
                                <div class="station-name">
                                    <a href="#" data-toggle="modal" data-target="#modal-GWD" style="text-decoration: underline;">@station.StationName</a>
                                    <span class="status"> - Station is Alive</span>
                                </div>
                            </div>

                        }
                        }

                    </div>
                </div>
            </div>


        }

        else
        {
            <h4>Error - no stations found</h4>
        }

        @if (Model != null && Model.Robots != null && Model.Robots.Any())
        {
            <div class="col-lg-8">
                <div class="card robots-title">
                    <div class="card-body">
                        <h3 class="card-title">Available Robots</h3>
                    </div>
                </div>

                <div class="row">
                    @foreach (var robot in Model.Robots)
                    {
                        string batteryStatus = "unknown";
                        if (robot.BatteryStatus.HasValue)
                        {
                            batteryStatus = robot.BatteryStatus + "%";
                        }

                        string batteryStatusBar = "known";
                        if (robot.BatteryStatus < 25)
                        {
                        batteryStatusBar = robot.BatteryStatus + "%;" + "background-color: #f00!important;";
                        }
                        else
                          {
                        batteryStatusBar = robot.BatteryStatus + "%;" + "background-color: #02c121!important;";
                          }   



                        <div class="col-lg-6">
                            <div class="card border-info mb-3">
                                <i class="material-icons gwd">precision_manufacturing</i>
                                <div class="card-header">
                                    <h4>Name: @robot.RobotName</h4>
                                </div>
                                <div class="card-body">
                                    @if (robot.IsOnline == true)
                                    {
                                        <div class="robots">
                                            <div class="robots-on">
                                                <span class="material-icons md-36">
                                                    check_circle
                                                </span>Robot Online
                                            </div>
                                        </div>

                                        <p class="battery">Battery Status:</p>

                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: @batteryStatusBar;" aria-valuenow="@batteryStatus" aria-valuemin="0" aria-valuemax="100">
                                            <span>@batteryStatus</span></div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="robots">
                                            <div class="robots-off">
                                                <span class="material-icons md-36">
                                                    error_outline
                                                </span>Robot Offline
                                            </div>
                                        </div>

                                        <p class="battery">Battery Status: NOT AVAILBLE</p>
                                      
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>

                                        </div>
                                    }


                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Error - no Robots found!</h3>
                    </div>
                </div>
            </div>
         }


                <!-- modal code- dont delete   -->


                <div id="modal-GWD" class="modal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Not Implimented Yet</h5>
                                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>See documentation</p>
                            </div>
                        </div>
                    </div>
                </div>
