﻿@model GWD.Models.Lab.LabOverviewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lab Overview and tests (temporary)</h1>
    @if (Model != null && Model.Stations != null && Model.Stations.Any())
    {
        var stationsNotAlive = Model.Stations.Where(x => !x.LastStatusIsAlive);
        if (stationsNotAlive != null && stationsNotAlive.Any())
        {
            <div>
                Some stations are not alive :
                @foreach (var deadStation in stationsNotAlive)
                {
                    <div><a href="javascript:alert('Not implemented yet')">@deadStation.StationName</a></div>
                }
            </div>
        }
        else
        {
            <div>All stations are alive</div>
        }

        <h2>Stations List</h2>
        <p>Probably in accordian or another page, just a single pager for now like the windows form</p>
        <div class="row">
        @foreach (var station in Model.Stations)
        {
            <div class="col-md-4">
            <div>
                Station Id : @station.StationId
            </div>
            <div>
                Station Name : @station.StationName
            </div>
            <div>
                Station Type : @station.StationTypeEnum
            </div>

            @{Html.RenderPartial("StationPartials/" + station.StationTypeEnum.ToString(), new GWD.Gui.Models.Stations.Furnaces.FurnaceViewModel(station));
            }

                <hr />
            </div>
        }
        </div>
    }
     
    else
    {
        <p>Error - no stations found</p>
    }
    
</div>
