﻿@model GWD.Models.Lab.LabOverviewModel

@{
    ViewData["Title"] = "Home Page";

    bool? RobotTaskOutcome = null;
    if (TempData["RobotTaskOutcome"] != null)
    {
        RobotTaskOutcome = (bool)TempData["RobotTaskOutcome"];
    }

    bool? StationTaskOutcome = null;
    if (TempData["StationTaskOutcome"] != null)
    {
        StationTaskOutcome = (bool)TempData["StationTaskOutcome"];
    }

}

<style>
    /*Temp solution for now*/
    .row {
        margin-top: 10px;
    }

    .btn-primary {
        width: 100%;
    }
</style>


@{

    //TempData["StationTaskOutcome"]
    if (StationTaskOutcome.HasValue)
    {
        string stoutcome = (StationTaskOutcome.Value ? "success" : "failure");
        if (stoutcome == "success")
        {
            <div class="alert alert-dismissible alert-success gwd-alert">
                <button type="button" class="btn-close" data-dismiss="alert"></button>
                <h4 class="mb-0">Result of station task : @stoutcome</h4>
            </div>

        }
        else if (stoutcome == "failure")
        {
            <div class="alert alert-dismissible alert-primary gwd-alert">
                <button type="button" class="btn-close" data-dismiss="alert"></button>
                <h4 class="mb-0">Result of station task : @stoutcome</h4>
            </div>
        }

    }

    if (RobotTaskOutcome.HasValue)
    {
        string outcome = (RobotTaskOutcome.Value ? "success" : "failure");

        if (outcome == "success")
        {
            <div class="alert alert-dismissible alert-success gwd-alert">
                <button type="button" class="btn-close" data-dismiss="alert"></button>
                <h4 class="mb-0">Result of station task : @outcome</h4>
            </div>

        }
        else if (outcome == "failure")
        {
            <div class="alert alert-dismissible alert-primary gwd-alert">
                <button type="button" class="btn-close" data-dismiss="alert"></button>
                <h4 class="mb-0">Result of station task : @outcome</h4>
            </div>
        }
    }
}


<div class="text-center">
    <h1 class="display-4">Gearu Workflow Tests - Kuka and Quantos</h1>

    @if (Model != null && Model.Stations != null && Model.Stations.Any())
    {  // We need the solid dispenser and the robot to be online - just show a warning for this as we want to test even if the heartbeat is not going into the database correctly
        <div class="row">
            <div class="col-lg-4">
                <div class="card border-dark mb-3">
                    <div class="card-header">
                        Stations required:
                    </div>
                    <div class="card-body">
                        @{
                            var kuka = Model.Robots.FirstOrDefault(x => x.RobotTypeEnum == GWD.Models.Enums.RobotType.KukaMobile);
                            if (kuka == null || !kuka.IsOnline)
                            {
                                <div class="stations">
                                    <div class="lights">
                                        <span class="material-icons not-alive md-48">
                                            error_outline
                                        </span>
                                    </div>
                                    <div class="station-name">
                                        <span class="status">Kuka does not appear to be online</span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="stations">
                                    <div class="lights">
                                        <span class="material-icons alive md-48">
                                            check_circle
                                        </span>
                                    </div>
                                    <div class="station-name">
                                        <span class="status">Kuka is online</span>
                                    </div>
                                </div>

                            }

                            var quantos = Model.Stations.FirstOrDefault(x => x.StationTypeInstrumentEnum == GWD.Models.Enums.StationTypeInstrument.QuantosSolidDispenser);
                            if (
                                quantos == null
                                || !quantos.LastStatusIsAlive
                                || !quantos.LastStatusTs.HasValue
                                || quantos.LastStatusTs.Value.AddMinutes(5) < DateTime.Now
                                )
                            {
                                <div class="stations">
                                    <div class="lights">
                                        <span class="material-icons not-alive md-48">
                                            error_outline
                                        </span>
                                    </div>
                                    <div class="station-name">
                                        <span class="status">Quantos does not appear to be online</span>
                                    </div>
                                </div>

                            }
                            else
                            {
                                <div class="stations">
                                    <div class="lights">
                                        <span class="material-icons alive md-48">
                                            check_circle
                                        </span>
                                    </div>
                                    <div class="station-name">
                                        <span class="status">Quantos is online</span>
                                    </div>
                                </div>

                            }
                        }

                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card robots-title">
                    <div class="card-body">
                        <h3 class="card-title">Introduction text header</h3>
                    </div>
                </div>
            </div>
        </div>



        @* CAA - now just a list of buttons for the individual steps we want to carry out in the correct order *@
        <div class="row">
            <hr />
            <h2>Workflow aggregated steps:</h2>
            <h5>
                Robot using : Id = @ViewBag.RobotId and name = @ViewBag.RobotName
            </h5>



            <form action="/Home/MoveToStation" method="post" style="">
                <div class="row robot-command-cont">

                    <div class="col-lg-4 text-right">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-text">Station:</span>
                                <select name="stationid" class="form-select" id="select">
                                    @foreach (var station in Model.Stations)
                                    {
                                        <option value="@station.StationId">@station.StationName</option>
                                    }
                                </select>
                                <input type="hidden" name="robotid" value="@ViewBag.RobotId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-left">
                        <button type="submit" class="btn btn-primary submit-with-index">Move to station and prepare to operate</button>
                    </div>
                    <div class="col-lg-4 text-left">
                        <h5>If not already at station:</h5>
                        <ul>
                            <li>Activate LBR (if not already)</li>
                            <li>Put arm in drive pos (if not already)</li>
                            <li>Activate KMR (if not already)</li>
                            <li>Move to station</li>
                        </ul>
                        <h5>THEN:</h5>
                        <ul>
                            <li>Activate LBR (if not already)</li>
                            <li>Calibrate (if not already calibrated)</li>
                            <li>Put LBR into ready position</li>
                        </ul>



                    </div>
                </div>
            </form>
        </div>
        <hr />


        <form action="/Home/PutSolidIntoDispenser" method="post" style="">
            <div class="row robot-command-cont">
                <div class="col-lg-4 text-right">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text"> Solid: </span>
                            <select name="solidIndex" class="form-select" id="select">

                                @for (int i = 0; i <= 7; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                            <input type="hidden" name="robotid" value="@ViewBag.RobotId" />
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 text-left">
                    <button type="submit" class="btn btn-primary submit-with-index">Put Solid Into Dispenser</button>
                </div>
                <div class="col-lg-4 text-left">
                    <h5>Opens dispenser and puts in selected solid.</h5>
                    <ul>
                        <li><span style="color:red">NO CHECK</span> currently for presence of solid already.</li>
                        <li>Does not close dispenser.</li>
                    </ul>
                </div>
            </div>
        </form>

        <hr />

        <form action="/Home/DispenseCurrentSolidIntoBoat" method="post" style="">
            <div class="row robot-command-cont">

                <div class="col-lg-4 text-right">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Target amount (mg):</span>
                            <input type="text" name="targetMg" value="5.2" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Boat:</span>
                            <select name="boatIndex" class="form-select" id="select">

                                @for (int i = 0; i <= 3; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group-text">
                            Tap before dosing:
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="tapBeforeDosing">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group-text">
                            Tap while dosing
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="tapWhileDosing">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Tapping intensity:</span>
                            <select name="tappingIntensity" class="form-select" id="select">
                                @for (int i = 10; i <= 100; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="robotid" value="@ViewBag.RobotId" />
                </div>




                <div class="col-lg-4 text-left">
                    <button type="submit" class="btn btn-primary submit-with-index">Dispense current solid into boat and get weight</button>
                </div>
                <div class="col-lg-4 text-left">
                    <h5>Composite step which takes a boat, loads it in, dispenses and removes it</h5>
                    <ol>
                        <li>Dispenser - open door</li>
                        <li>Robot put boat into dispenser</li>
                        <li>Dispenser - close door</li>
                        <li>Dispenser - lock pin</li>
                        <li>Dispenser - set tapping</li>
                        <li>Dispenser - dose powder</li>
                        <li>Dispenser - get weight</li>
                    </ol>


                </div>
            </div>
        </form>

        <hr />

        <div class="row">
            <div class="col-lg-4 text-right">
            </div>
            <div class="col-lg-4 text-left">
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="FinaliseDispenserOpenAndGraspBoat" asp-route-robotid="@ViewBag.RobotId">Finalise Dispenser, Open and Grasp Boat</a>
            </div>
            <div class="col-lg-4 text-left">
            </div>
        </div>

        <hr />


        <div class="row">
            <div class="col-lg-4 text-right">
            </div>
            <div class="col-lg-4 text-left">
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="GetWeightDispensed" asp-route-robotid="@ViewBag.RobotId">Get Weight Dispensed</a>
            </div>
            <div class="col-lg-4 text-left">
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-lg-4 text-right">
            </div>
            <div class="col-lg-4 text-left">
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="GetCartridgeInfo" asp-route-robotid="@ViewBag.RobotId">Get Cartridge Info (head data)</a>
            </div>
            <div class="col--4 text-left">
            </div>
        </div>

        <hr />


        <div class="row">
            <div class="col-lg-4 text-right">
            </div>
            <div class="col-lg-4 text-left">
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="TransferSolidsToJar" asp-route-robotid="@ViewBag.RobotId">Transfer solids to ball mill jar</a>
            </div>
            <div class="col-lg-4 text-left">
                <h5>Specific step without parameters or options currently</h5>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-lg-4 text-right">
            </div>
            <div class="col-lg-4 text-left">
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="PutGraspedBoatBackIntoDispenser" asp-route-robotid="@ViewBag.RobotId">Put Grasped Boat Back Into Dispenser</a>
            </div>
            <div class="col-lg-4 text-left">
                <h5>In case we want to re-weight the boat.</h5>
               <p>Opens dispenser, puts in boat, closes dispenser and locks the pin</p>
            </div>
        </div>

        <hr />

        <form action="/Home/PutBoatBackInStorage" method="post" style="">
            <div class="row robot-command-cont">

                <div class="col-lg-4 text-right">

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Boat:</span>
                            <select name="boatIndex" class="form-select" id="select">

                                @for (int i = 0; i <= 3; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="robotid" value="@ViewBag.RobotId" />
                </div>
                <div class="col-lg-4 text-left">
                    <button type="submit" class="btn btn-primary submit-with-index">Put Boat Back Into Storage</button>
                </div>
                <div class="col-lg-4 text-left">
                    <h5>Replaces boat being held into selected storage (obviously must match an empty slot currently)</h5>
                </div>
            </div>
        </form>

        <hr />




        <form action="/Home/ReturnSolidToHotel" method="post" style="">
            <div class="row robot-command-cont">

                <div class="col-lg-4 text-right">

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text"> Solid: </span>
                            <select name="solidIndex" class="form-select" id="select">

                                @for (int i = 0; i <= 7; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                            <input type="hidden" name="robotid" value="@ViewBag.RobotId" />
                        </div>
                    </div>
                    <input type="hidden" name="robotid" value="@ViewBag.RobotId" />
                </div>
                <div class="col-lg-4 text-left">
                    <button type="submit" class="btn btn-primary submit-with-index">Return Solid To Hotel</button>
                </div>
                <div class="col-lg-4 text-left">
                    <h5>Opens dispenser and puts in selected solid.</h5>
                    <ul>
                        <li><span style="color:red">NO CHECK</span> currently for presence of solid already.</li>
                        <li>Does not close dispenser.</li>
                    </ul>
                </div>

            </div>
        </form>

        <hr />



        <form action="/Home/TestCompositeTask" method="post" style="">
            <div class="row robot-command-cont">
                <div class="col-lg-4 text-right">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Station:</span>
                            <select name="stationid" class="form-select" id="select">
                                @foreach (var station in Model.Stations)
                                {
                                    <option value="@station.StationId">@station.StationName</option>
                                }
                            </select>
                            <input type="hidden" name="robotid" value="@ViewBag.RobotId" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text"> Solid: </span>
                            <select name="solidIndex" class="form-select" id="select">

                                @for (int i = 0; i <= 7; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                            <input type="hidden" name="robotid" value="@ViewBag.RobotId" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Target amount mg :</span>
                            <input type="text" name="targetMg" value="5.2" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Boat :</span>
                            <select name="boatIndex" class="form-select" id="select">

                                @for (int i = 0; i <= 3; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group-text">
                            Tap before dosing:
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="tapBeforeDosing">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group-text">
                            Tap while dosing
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="tapWhileDosing">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Tapping intensity:</span>
                            <select name="tappingIntensity" class="form-select" id="select">
                                @for (int i = 10; i <= 100; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">Station:</span>
                            <select name="stationid" class="form-select" id="select">
                                @foreach (var station in Model.Stations)
                                {
                                    <option value="@station.StationId">@station.StationName</option>
                                }
                            </select>
                            <input type="hidden" name="robotid" value="@ViewBag.RobotId" />
                        </div>
                    </div>

                    <input type="hidden" name="robotid" value="@ViewBag.RobotId" />


                </div> <!--close column-->

                <div class="col-lg-4 text-left">
                    <button type="submit" class="btn btn-primary submit-with-index">Composite Task</button>
                </div>
                <div class="col-lg-4 text-left">
                    <h5>Does all of the above in order and then moves on to other selected station</h5>
                </div>
            </div> <!--close row-->

        </form>

        <hr />


    }

    else
    {
        <p>Error - no stations found</p>
    }

</div>
