﻿@model GWD.Models.Lab.LabOverviewModel

@{
    ViewData["Title"] = "Home Page";

    bool? RobotTaskOutcome = null;
    if (TempData["RobotTaskOutcome"] != null)
    {
        RobotTaskOutcome = (bool)TempData["RobotTaskOutcome"];
    }

    bool? StationTaskOutcome = null;
    if (TempData["StationTaskOutcome"] != null)
    {
        StationTaskOutcome = (bool)TempData["StationTaskOutcome"];
    }
}


<div class="text-center">

    @{

        //TempData["StationTaskOutcome"]
        if (StationTaskOutcome.HasValue)
        {
            string stoutcome = (StationTaskOutcome.Value ? "success" : "failure");
            if (stoutcome == "success")
            {
                <div class="alert alert-dismissible alert-success gwd-alert">
                    <button type="button" class="btn-close" data-dismiss="alert"></button>
                    <h4 class="mb-0">Result of station task : @stoutcome</h4>
                </div>

            }
            else if (stoutcome == "failure")
            {
                <div class="alert alert-dismissible alert-primary gwd-alert">
                    <button type="button" class="btn-close" data-dismiss="alert"></button>
                    <h4 class="mb-0">Result of station task : @stoutcome</h4>
                </div>
            }

        }

        if (RobotTaskOutcome.HasValue)
        {
            string outcome = (RobotTaskOutcome.Value ? "success" : "failure");

            if (outcome == "success")
            {
                <div class="alert alert-dismissible alert-success gwd-alert">
                    <button type="button" class="btn-close" data-dismiss="alert"></button>
                    <h4 class="mb-0">Result of station task : @outcome</h4>
                </div>

            }
            else if (outcome == "failure")
            {
                <div class="alert alert-dismissible alert-primary gwd-alert">
                    <button type="button" class="btn-close" data-dismiss="alert"></button>
                    <h4 class="mb-0">Result of station task : @outcome</h4>
                </div>
            }
        }
    }

    <h1 class="display-4">Lab Overview and workflow tests (temporary)</h1>

    <p>

        <button type="button" class="btn btn-outline-info">
            <a class="plain" asp-area="" asp-controller="Home" asp-action="SetRobot" asp-route-isdummy="true">
                Set dummy robot
            </a>
        </button>

        <button type="button" class="btn btn-outline-warning">
            <a class="plain" asp-area="" asp-controller="Home" asp-action="SetRobot" asp-route-isdummy="false">
                Set live robot
            </a>
        </button>
    </p>

    <h2>Robot Name : @ViewBag.RobotName</h2>

    <h3>Robot commands:</h3>

    <form action="/Home/RobotAction" method="post" style="">
        <div class="row robot-command-cont">

            <div class="col-md-4 text-right">
                <div class="input-group mb-3 index-input">
                    <span class="input-group-text">Index:</span>
                    <input type="text" class="form-control" aria-label="index">
                </div>
                <input type="hidden" name="robotaction" value="GraspBoatFromStorage" style="display: none;" />
            </div>
            <div class="col-md-4 text-left">
                <button type="submit" class="btn btn-primary submit-with-index">Grasp Boat From Storage</button>
            </div>
            <div class="col-md-4 text-left">
                <div class="index-validation" style="display:none">
                    <div class="alert alert-dismissible alert-warning gwd-alert">
                        <button type="button" class="btn-close" data-dismiss="alert"></button>
                        <h4 class="mb-0">Please enter an index</h4>
                    </div>
                 </div>
            </div>
            </div>
    </form>

    <div class="row">
        <div class="col-md-4 text-right">
        </div>
        <div class="col-md-4 text-left">
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="RobotActionNoParams" asp-route-robotaction="PlaceBoatInQuantos">Place Boat In Quantos</a>
        </div>
        <div class="col-md-4 text-left">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 text-right">
        </div>
        <div class="col-md-4 text-left">
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="RobotActionNoParams" asp-route-robotaction="GraspBoatFromQuantos">Grasp Boat From Quantos</a>
        </div>
        <div class="col-md-4 text-left">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 text-right">
        </div>
        <div class="col-md-4 text-left">
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="RobotActionNoParams" asp-route-robotaction="TransferSolids">Transfer Solids</a>
        </div>
        <div class="col-md-4 text-left">
        </div>
    </div>


    <form action="/Home/RobotAction" method="post" style="">
        <div class="row robot-command-cont">

            <div class="col-md-4 text-right">
                <div class="input-group mb-3 index-input">
                    <span class="input-group-text">Index:</span>
                    <input type="text" class="form-control" aria-label="index">
                </div>
                <input type="hidden" name="robotaction" value="PlaceBoatInStorage" />
            </div>
            <div class="col-md-4 text-left">
                <button type="submit" class="btn btn-primary submit-with-index">Place Boat In Storage</button>
            </div>
            <div class="col-md-4 text-left">
                <div class="index-validation" style="display:none">
                    <div class="alert alert-dismissible alert-warning gwd-alert">
                        <button type="button" class="btn-close" data-dismiss="alert"></button>
                        <h4 class="mb-0">Please enter an index</h4>
                    </div>
                </div>
            </div>
        </div>
    </form>






    <div class="row">
        <div class="col-md-4 text-right">
        </div>
        <div class="col-md-4 text-left">
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="RobotActionNoParams" asp-route-robotaction="GraspCartridgeInQuantos">Grasp Cartridge In Quantos</a>
        </div>
        <div class="col-md-4 text-left">
        </div>
    </div>

    <form action="/Home/RobotAction" method="post" style="">
        <div class="row robot-command-cont">

            <div class="col-md-4 text-right">
                <div class="input-group mb-3 index-input">
                    <span class="input-group-text">Index:</span>
                    <input type="text" class="form-control" aria-label="index">
                </div>
            </div>
            <div class="col-md-4 text-left">
                <button type="submit" class="btn btn-primary submit-with-index">Place Cartridge In Hotel</button>
            </div>
            <div class="col-md-4 text-left">
                <div class="index-validation" style="display:none">
                    <div class="alert alert-dismissible alert-warning gwd-alert">
                        <button type="button" class="btn-close" data-dismiss="alert"></button>
                        <h4 class="mb-0">Please enter an index</h4>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-md-4 text-right">
        </div>
        <div class="col-md-4 text-left">
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="RobotActionNoParams" asp-route-robotaction="PutArmIntoDrivePosition">Put Arm Into Drive Position</a>
        </div>
        <div class="col-md-4 text-left">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-right">
        </div>
        <div class="col-md-4 text-left">
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="RobotActionNoParams" asp-route-robotaction="SixPointCal">Six Point Cal</a>
        </div>
        <div class="col-md-4 text-left">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-right">
        </div>
        <div class="col-md-4 text-left">
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="RobotActionNoParams" asp-route-robotaction="MoveToSolidDispenser">Move To Solid Dispenser</a>
        </div>
        <div class="col-md-4 text-left">
        </div>
    </div>


    <hr />

       
        @if (Model != null && Model.Stations != null && Model.Stations.Any()) {
            <h2>Station Commands</h2>
            <div class="row">

                @foreach (var station in Model.Stations)
                {

                <div class="col-md-3">

                    <div>
                        Station Id : @station.StationId
                    </div>
                    <div>
                        Station Name : @station.StationName
                    </div>
                    <div>
                        Com Port : @station.StationComPort
                    </div>
                    @if (!station.LastStatusIsAlive)
                    {
                        <div class="alert alert-success"> Station is alive</div>
                    }
                    else
                    {
                        <div class="alert alert-primary"> Station is not alive</div>
                    }

                    <hr />



                    @if (station.StationTypeEnum == GWD.Models.Enums.StationType.SolidDispenser)
                    {
                        //temp hack - do this with partials or something
                        <div class="col-md-12 margin-sm">
                            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="SolidDispenserStandardAction" asp-route-dispenseraction="OpenDoor" asp-route-dispenserid="@station.StationId">Open Door</a>
                        </div>
                        <div class="col-md-12 margin-sm">
                            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="SolidDispenserStandardAction" asp-route-dispenseraction="CloseDoor" asp-route-dispenserid="@station.StationId">Close Door</a>
                        </div>
                        <div class="col-md-12 margin-sm">
                            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="SolidDispenserStandardAction" asp-route-dispenseraction="SetTappingWhileDosingOn" asp-route-dispenserid="@station.StationId">Turn on Tapping While Dosing</a>
                        </div>
                        <div class="col-md-12 margin-sm">
                            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="SolidDispenserStandardAction" asp-route-dispenseraction="SetTappingWhileDosingOff" asp-route-dispenserid="@station.StationId">Turn off Tapping While Dosing</a>
                        </div>
                        <div class="col-md-12 margin-sm">
                            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="SolidDispenserStandardAction" asp-route-dispenseraction="DosePowder" asp-route-dispenserid="@station.StationId">Dose Powder</a>
                        </div>


                        <div class="col-md-12 margin-sm">
                            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="SolidDispenserStandardAction" asp-route-dispenseraction="LockDosingHeadPin" asp-route-dispenserid="@station.StationId">Lock Dosing Head Pin</a>
                        </div>
                        <div class="col-md-12 margin-sm">
                            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="SolidDispenserStandardAction" asp-route-dispenseraction="UnlockDosingHeadPin" asp-route-dispenserid="@station.StationId">Unlock Dosing Head Pin</a>
                        </div>

                    }





                </div>
                    
                }
            </div>
            }

                else
                {
                <p>Error - no stations found</p>
                }

            </div>

@section Scripts {
<script type="text/javascript">
    $(function () {
        //just a temp hack - needs proper validation
        $(".submit-with-index").click(function () {
            //clear all validation
            $(".index-validation").hide();
            //get the index by traversing
            var indexinput = $(this).parent().parent().find("input.indexparam");
            var indexvalidation = $(this).parent().parent().find("div.index-validation");
            console.log(indexvalidation);
            var indx = parseInt(indexinput.val());
            if (isNaN(indx)) {
                indexvalidation.show();
            } else {
                return true;
            }

            return false;
        });
    });
</script>
}
