﻿/* custom styling - Jay */

/*site-wide controls*/

body {
    background-image: linear-gradient( 215deg, #33b7e2, #5e62b0, #dc307c);
    color: #fff;
    font-family: 'Open Sans', Arial, sans-serif;
}

.bg-white {
    /* --bs-bg-opacity: 1; */
    background-color: rgba(255,255,255,0.5) !important;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.bg-gwd-gradient {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-image: linear-gradient( 215deg, #cff3ff36, #c0c3ff, #ffe1ef75);
    backdrop-filter: blur(5px);
}

.nav-container {width: 97%!important;}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
    justify-content: flex-start;
    width: 97% !important;
    max-width: 97% !important;
}
h1.display-4 {
    margin-bottom: 30px;
    font-family: 'AvenirRegular', sans-serif;
}
a.navbar-brand img {
    width: 200px;
}
#main-container {
    padding-top: 160px;
    transition: padding-left .5s;
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: 97% !important;
    max-width: 97% !important;
}

.gwd-alert {
    position: fixed;
    top: 15px;
    right: 10px;
    z-index: 10;
}

.station-name {
    margin-left: 5px;
    text-align: left;
    font-size: 18px;
}

.stations {
    display: flex;
    align-items: center;
    justify-content: left;
}

.lights {
    display: inline-block;
    float: left;
    clear: both;
    margin: 10px;
    border-radius: 50%;
    padding: 5px 5px 0px 5px;
    position: relative;
    background: #ffffff4f;
    border: 1px solid #fff;
}

span.material-icons.md-48 {
    font-size: 48px;
}

span.material-icons.not-alive.md-48 {
    color: #ff0101;
}
span.material-icons.alive.md-48 {
    color: #00c121;
}

.light {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px 0;
}

.red-light-on {
    background: #fb2b1d;
}

.red-light-off {
    background: #580f0a;
}
.green-light-off {
    background: #00420f;
    text-align: right;
    float: right;
    right: 0;
    margin-right: 5px;
}

.green-light-on {
    background: #00ff3a;
    text-align: right;
    float: right;
    right: 0;
    margin-right: 5px;
}

.card-header h4, h3.card-title {
    margin: 0;
}

.card.border-secondary .card-header {
    background-color: rgb(73 130 230)!important;
    border-bottom: none;
}

.card.border-info .card-header {
    background-color: #4982e6 !important;
    border-bottom: none;
    border-radius: calc(.5rem - 1px) calc(.5rem - 1px) 0 0;
}
.robots
{
    display: inline-block;
    width: 100%;
    position: relative;
}

.robots-on {
    position: relative;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    background: #00c121;
    font-weight: 600;
}

    .robots-on span, .robots-off span {
        position: absolute;
        left: 10px;
        top: 10px;
    }

.robots-off {
    position: relative;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    background: #92929287;
}

.robots-title::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: .5rem;
    height: 100%;
    background-color: #fd7e14;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1.8rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: rgba(0,0,0,.2);
    border-radius: 0.3rem;
}

    .progress:after {
        content: "";
        width: 9px;
        height: 10px;
        background: rgba(0,0,0,.2);
        position: absolute;
        right: 23px;
        bottom: 37px;
    }

p.battery {
    text-align: left;
    margin: 15px 0px;
    display: inline-block;
}

i.material-icons.battery-icon {
    position: absolute;
    margin: 15px 0px 0px 10px;
    left: 16px;
}

i.material-icons.gwd {
    position: absolute;
    padding: 15px;
    left: 0;
    top: 0;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.row {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
        color: #000;
        
}

.col-lg-4.text-left li, .col-lg-4.text-left h5 {
    text-align: left;
}

.col-lg-4.text-left p {
    text-align: left;
}

.input-group.mb-3 {
    float: right;
    width: 50%;
}

.alert-success h4 {
    color: #01ab74;
}

.alert-primary h4 {
    color: #ff0000;
}

/* Form and input styling */

.form-control {
    display: block;
    width: 100%;
    padding: 0 0 0 12%;
}
.index-input {margin-bottom: 0px!important}

.margin-sm {margin: 5px 0}

#select.form-select {
    border-right: 1px solid rgba(255,255,255,.4);
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.form-select {
    padding: .75rem 3.5rem .75rem 1.5rem;
}

.form-group {
    margin-bottom: 10px;
}

.form-switch .form-check-input {
    width: 3em;
    height: 1.5em;
    margin-top: 0em;
    float: right;
}

.form-switch {
    padding-left: 2.5em;
    float: right;
    width: 100%;
}

.form-check-input:checked {
    background-color: #00c121;
    border-color: #00c121;
}

input.form-control:focus {
    border-color: #e83283;
    box-shadow: 0 0 0 0.25rem rgb(232 50 131 / 29%);
}

select#select:focus {
    border-color: #e83283;
    box-shadow: 0 0 0 0.25rem rgb(232 50 131 / 29%);
}

.form-check-input {
    background-color: #ff0000bf;
}

    /* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-image: linear-gradient( 215deg, #33b7e2, #5e62b0, #dc307c);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

    /* The sidebar links */
    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #fff;
        display: block;
        transition: 0.3s;
        font-family: 'AvenirRegular', Arial, sans-serif;
    }

        /* When you mouse over the navigation links, change their color */
        .sidebar a:hover {
            color: #fd7e13;
        }

    /* Position and style the close button (top right corner) */
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #1b6ec2;
    border-color: #1861ac;
    color: white;
    padding: 10px 15px;
    border: none;
    font-family: 'AvenirRegular', Helvetica, sans-serif;
    font-weight: 600;
}

    .openbtn:hover {
        background-color: #c52b6f;
        border-color: #ba2869;
    }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main-sidebar {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}

/* Provide sufficient contrast against white background */

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  width: 100%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* fonts including icons */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'),
        url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
        url(/fonts/MaterialIcons-Regular.woff) format('woff'),
        url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans-regular-webfont.eot');
    src: url('/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('/fonts/opensans-regular-webfont.woff') format('woff'),
        url('/fonts/opensans-regular-webfont.ttf') format('truetype'),
        url('/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'AvenirRegular';
    src: url('/fonts/AvenirRegular.eot');
    src: url('/fonts/AvenirRegular.eot') format('embedded-opentype'),
        url('/fonts/AvenirRegular.woff2') format('woff2'),
        url('/fonts/AvenirRegular.woff') format('woff'),
        url('/fonts/AvenirRegular.ttf') format('truetype'),
        url('/fonts/AvenirRegular.svg#AvenirRegular') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('/fonts/caviardreams-webfont.eot');
    src: url('/fonts/caviardreams-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/caviardreams-webfont.woff2') format('woff2'),
        url('/fonts/caviardreams-webfont.woff') format('woff'),
        url('/fonts/caviardreams-webfont.ttf') format('truetype'),
        url('/fonts/caviardreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@media (min-width: 525px) and (max-width: 991px){

    .col-lg-4.text-right,
    .col-lg-4.text-left {
        width: 50%;
    }
}

