﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GWD.Gui</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-gwd-gradient border-bottom box-shadow mb-3">
            <div class="container nav-container">
                <div id="main-sidebar">
                    <button class="openbtn" onclick="openNav()">&#9776;</button>
                </div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/img/gearu-logo.png">
                </a>
            </div>
        </nav>
    </header>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="LabTests">Lab Tests (temp)</a>
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="WorkflowTests">Workflow Tests (temp)</a>
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="WorkflowTests2">Workflow Tests - new</a>
        <a href="https://gearulabs.com" target="_blank">Gearu Website</a>
    </div>
    <div id="main-container" class="container">

        @if (TempData["TempResultMessageRed"] != null)
        {
            //temp user message
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @TempData["TempResultMessageRed"]<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (TempData["TempResultMessageGreen"] != null)
        {
            //temp user message
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["TempResultMessageGreen"]<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - GWD.Gui - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
